/* common style  */
body {
    background: no-repeat;
    font-family: 'Poppins', sans-serif;

}

/* ------------
header section style 
--------------------*/

.carousel-caption {
    top: 20%;
    bottom: auto;
}

/*------------
   main style  
---------------*/

/* course section style  */
.img-dark {
    filter: brightness(50%);
}


/* institute section style  */
.bg-explore {
    background-color: #F4FAFD;
}

.card-img {


    height: 806px;
}


.card-body {

    height: 806px;
}


/* register section style  */
.btn-register {
    background-color: white;
    text-decoration: none;

}


/* Feedback section style  */
.fa-star,
.fa-star-half-stroke {
    color: rgb(255, 187, 0);
}



/* question section style  */
.question {
    width: 85%;

}

.accordion-body,
.para {
    text-align: justify;
}